@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

.body-width {
  font-family: 'Gentium Book Plus', serif;
  width: 70vw;
  margin: auto;
}
/* first section style start here */
.first-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
}
.number {
  width: 15rem;
  color: #b3a88c;
  font-size: 7rem;
  margin: 0 auto;
}
.first-section-para {
  width: 11rem;
  margin: 0 auto;
  text-align: justify;
}
.side-contact-info {
  border-left: 3px solid #b3a88c;
  margin-left: 5rem;
}
.side-contact-text {
  margin-left: 12px;
  width: 3rem;
}
.side-contact-list {
  margin-left: -28px;
}
.contact-list {
  width: 16px;
  height: 23px;
  margin-bottom: 6px;
  padding-bottom: 2px;
  padding-left: 9px;
  list-style-type: none;
  border: 2px solid #b3a88c;
  border-radius: 50%;
}
/* first section style end here */

/* middle section style start here */
.middle-section-container {
  text-align: center;
}
.middle-section-number {
  color: #b3a88c;
  font-size: 7rem;
  margin: 1rem 0 0.5rem 0;
}
.middle-section-para {
  width: 12rem;
  text-align: justify;
  margin: 0 auto;
}
/* middle section style end here */

/* last section style start here */
.last-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}
.last-section-text {
  width: 20rem;
}
.last-section-para {
  text-align: center;
}
/* last section style end here */
